parameters:
	ignoreErrors:
		-
			message: '#^Access to undefined constant PhpParser\\ParserFactory\:\:PREFER_PHP7\.$#'
			identifier: classConstant.notFound
			count: 1
			path: app/Console/Commands/Modules/Step6Routes.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Console/Commands/Modules/Step6Routes\.php\:97\:\:enterNode\(\) should return array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: app/Console/Commands/Modules/Step6Routes.php

		-
			message: '#^Property PhpParser\\NodeVisitorAbstract@anonymous/Console/Commands/Modules/Step6Routes\.php\:97\:\:\$out is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Console/Commands/Modules/Step6Routes.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/CallSiteRewriter\.php\:40\:\:enterNode\(\) should return array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: app/Support/Modules/PhpAst/CallSiteRewriter.php

		-
			message: '#^Access to undefined constant PhpParser\\ParserFactory\:\:PREFER_PHP7\.$#'
			identifier: classConstant.notFound
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:105\:\:enterNode\(\) should return array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:afterTraverse\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:enterNode\(\) never returns PhpParser\\Node so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:enterNode\(\) never returns array\<PhpParser\\Node\> so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:enterNode\(\) never returns int so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:enterNode\(\) should return array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Method PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:enterNode\(\) should return array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Parameter \#2 \$stmts of class PhpParser\\Node\\Stmt\\Namespace_ constructor expects array\<PhpParser\\Node\\Stmt\>\|null, array\<PhpParser\\Node\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Property PhpParser\\NodeVisitorAbstract@anonymous/Support/Modules/PhpAst/MethodCamelizer\.php\:38\:\:\$methodMap is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Support/Modules/PhpAst/MethodCamelizer.php
