includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: null
    level: 5
    paths:
        - Modules/

    excludePaths:
        analyse:
            - *.blade.php
            - */*.blade.php
            - */cache/*
            - */Cache/*
            - */docs/*
            - */Docs/*
            - */migrations/*
            - */Migrations/*
            - */node_modules/*
            - */tests/*
            - */Tests/*
            - */vendor/*

    ignoreErrors:

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
